@import "../../../styles/basic";

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.userDashboard {
  @extend %basic;
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 14px 14px 20px 14px;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow-light-grey);
  animation: fadeIn 1s;

  &__allUsers {
    font-size: 18px;
    font-weight: 500;
    line-height: 27.09px;
  }

  &__inactiveUsers {
    font-size: 12px;
    line-height: 22.575px;
    margin-bottom: 20px;
  }

  &__active {
    @extend %flex;
    @extend %alignCenter;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-weight: 700;
  }

  &__activeAmount {
    font-size: 36px;
    color: var(--primary-text-color) !important;
  }

  &__activeTitle {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.258px;
    color: var(--primary-text-color) !important;
  }
}