.ant-collapse > .ant-collapse-item .ant-collapse-header-collapsible-only {
  align-items: center !important;
  cursor: pointer;
}

.ant-collapse > .ant-collapse-item .ant-collapse-header-collapsible-only .ant-collapse-header-text {
  width: 96%;
}

.ant-collapse {
  background-color: var(--white-color) !important;
}

.ant-collapse:hover {
  background-color: rgba(218,218,218, 0.2) !important;
}

.ant-collapse .ant-collapse-content {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 0 0 8px 8px !important;
  color: var(--primary-text-color) !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: var(--primary-text-color) !important;
}