@import "../../../styles/basic";

.deleteButton {
  @extend %basic;
  @extend %flex;
  @extend %alignCenter;
  gap: 5px;
  color: var(--red-color);

  &:hover {
    color: var(--red-color) !important;
  }

  &:disabled {
    color: var(--disabled-grey-color) !important;
    &:hover {
      color: var(--disabled-grey-color) !important;
    }
  }
}